@font-face {
    font-family: 'Roboto Slab';
    src: url('../fonts/RobotoSlab.ttf') format('truetype');
    font-weight: 300;
}
:root {
    --primary-color: #131842;
    --text-color: #ECCEAE;
    --font:"Roboto Slab", serif;
}
::-webkit-scrollbar{
    width: 3px;
    height: 2px;
    color: var(--primary-color);
    /* background-color: var(--text-color); */
}
::-webkit-scrollbar-thumb{
    width: 3px;
    background-color: var(--text-color);
    color: var(--primary-color);
}
body {
    background-color: var(--primary-color) !important;
    /* color: var(--text-color); */
    min-height: 100vh !important;
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
    margin: 0;
    font-family: var(--font);
    font-optical-sizing: auto;
    overflow: auto;
}

.container-fluid.body {
    width: 100%;
    min-height: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: var(--font);
}

.container {
    font-family: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 100px;
    /* justify-content: ; */
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
ul{
    padding: 0;
}
.nav {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border-bottom: 2px dashed var(--text-color);
}

.nav img.logo {
    height: 40px;
    border-color: transparent;
    backdrop-filter: blur(1.0);
}

.title {
    text-align: center;
    color: var(--text-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 25px;
    /* font-style: italic; */
    
}

.sector {
    margin-top: 30px;
    width: 100%;
    max-width: 750px;
    padding: 20px;
    background-color: #fff;
    color: var(--primary-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

.form {
    width: 100%;
    display: flex;
    /* flex-direction: ; */
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.form-control {
    display: flex;
    flex-direction: column;
}
.day{
    font-weight: 600;
}
.btn {
    float: right;
    color: var(--text-color);
    background-color: var(--primary-color);
}
.btn-primary{
    color: var(--text-color) !important;
    background-color: var(--primary-color) !important;
}

i.arrow{
    color: var(--primary-color);
    font-size: 12px;
}

.form-control.route{
    margin-top:0;
    padding: 1px 5px;
    height: 50px;
}

.route h3{
    font-size: 1px;
    font-family: inherit;
    padding-bottom: 5px;
    font-weight: 600;
    font-style: italic;
}
.form.sector{
    padding: 7px;
    color: #333;
    justify-content: space-between;
}
.color-p{
    color: var(--primary-color) !important;
    /* color: var(--text-color); */
    font-family: inherit;
    font-weight: 700;
    font-size: 25px;
}
.bus-row{
    width: 100% !important;
    /* min-width: 780px !important; */
    border: 2px dashed var(--primary-color);
    z-index: 10; 
    /* width: 100%; */
    max-width: 750px;
    padding: 20px;
    background-color: #fff !important;
    color: var(--primary-color) !important;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); 
}
.buss-row{
    width: 100% !important;
    max-width: 850px !important;
    border: 2px dashed var(--primary-color);
    z-index: 10;
    background-color: #fff !important;
    color: var(--primary-color) !important;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);   
}
.de-time{
    border-left: 2px dashed var(--primary-color);
    border-right: 2px dashed var(--primary-color);
    /* border-height: 40px; */
}
.btn{
    width: 100px;
}

.time i{
    font-size: 18px;
}

.time i:nth-child(even){
    margin-left: 5px;
    margin-right: 5px;

}

.colorr{
    color: var(--text-color) !important;
    background-color: var(--primary-color) !important;
}
.b-left{
    border-left: 3px dashed var(--primary-color) !important;
    border-radius: 0px 10px;
    /* border: 2px solid black; */
}
/* Modal style */
#seatModal{
    color: var(--primary-color) !important;
}