@font-face {
    font-family: 'Roboto Slab';
    src: url('../../fonts/RobotoSlab.ttf') format('truetype');
    font-weight: 300;
}
:root {
    --primary-color: #131842;
    --text-color: #ECCEAE;
    --white: #f4f4f4;
    --font:"Roboto Slab", serif;
}
.body {
    background-color: var(--white) !important;
    color: var(--text-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: var(--font);
    font-weight: 600;
    font-optical-sizing: auto;
}
.container{
    width: 100%;
    height: 100%;
    /* outline: 2px solid var(--text-color ); */
}
.logo{
    width: 100%;
    height: 60px;
}
.logo img{
    height: 50px;
}
.form{
    width: 100%;
}
form{
    width: 400px;
    background-color: #fff;
    padding: 15px 10px;
    color: var(--primary-color);
    border-radius: 12px;
    height: fit-content;
}
.form h3{
    font-weight: 700;
    font-size: 20px;
    color: var(--primary-color);
}
.btn{
    float: right;
}
.error{
    text-align: center;
}